{% extends 'base.html' %}
{% block container %}
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">TINYSTEPS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for link in links %}
                <li class="nav-item {% if request.path == link.link %}active{% endif %}">
                    <a class="nav-link" href="{{ link.link }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <span class="navbar-text">
        ☺️
    </span>
</nav>


 <h2 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4"><strong>🚜<br/>Преподаватели <br/>  {{ goal_ru }}</strong></h2>

<div class="w-75 m-auto">
    {% for teacher in teachers_with_goal %}
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"><img src="/static/pict {{ teacher.id }}.png" class="img-fluid"></div>
                    <div class="col-9">
                        <p class="float-right">Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час</p>
                        <h5>{{ teacher.name }}</h5>
                        <p>{{ teacher.about|truncate(300) }}</p>
                        <a href="/profiles/{{ teacher.id }}" class="btn btn-primary btn-sm mr-3">Записаться на пробный урок</a>
                        <a href="/message/{{ teacher.id }}" class="btn btn-outline-primary btn-sm">Отправить сообщение</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}