{% extends 'base.html' %}
{% block container %}
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">TINYSTEPS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for link in links %}
                <li class="nav-item {% if request.path == link.link %}active{% endif %}">
                    <a class="nav-link" href="{{ link.link }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <span class="navbar-text">
        ☺️
    </span>
</nav>


<div class="card my-5  mx-auto ">

    <div class="card-body m-4">
        <div class="row">
            <div class="col-5"><img src="/static/pict {{ teacher.id }}.png" class="img-fluid">
            </div>
            <div class="col-7">
                <h2>{{ teacher.name }}</h2>
                <p>
                    {%- for goal in teacher.goals -%}
                        <span class="badge badge-secondary mr-2">{{ goal }}</span>
                    {%- endfor -%}
                    Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час
                </p>

                <p >{{ teacher.about }}</p>
                <br> <br>
                <a href="/message/{{ teacher.id }}" class="btn btn-outline-secondary btn-sm ">Отправить сообщение</a>
            </div>
        </div>
    </div>

    <div class="card-body  m-4">
        <h5 class="mb-4">Записаться на пробный урок</h5>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
            </tr> 
            <tr>
                <td><span class="btn">8:00</span></td>
                <td><a href="/booking/{{ teacher.id }}/mo/8" class="btn btn-sm btn-secondary">8:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/tu/8" class="btn btn-sm btn-secondary">8:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/we/8" class="btn btn-sm btn-secondary">8:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/th/8" class="btn btn-sm btn-secondary">8:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/fr/8" class="btn btn-sm btn-secondary">8:00</a></td>
                <td>–</td>
                <td>–</td>
            </tr>
            <tr>
                <td><span class="btn">10:00</span></td>
                <td><a href="/booking/{{ teacher.id }}/mo/10" class="btn btn-sm btn-secondary">10:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/tu/10" class="btn btn-sm btn-success">10:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/we/10" class="btn btn-sm btn-success">10:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/th/10" class="btn btn-sm btn-success">10:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/fr/10" class="btn btn-sm btn-secondary">10:00</a></td>
                <td>–</td>
                <td>–</td>
            </tr>
            <tr>
                <td><span class="btn">12:00</span></td>
                <td><a href="/booking/{{ teacher.id }}/mo/12" class="btn btn-sm btn-secondary">12:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/tu/12" class="btn btn-sm btn-success">12:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/we/12" class="btn btn-sm btn-success">12:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/th/12" class="btn btn-sm btn-success">12:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/fr/12" class="btn btn-sm btn-secondary">12:00</a></td>
                <td>–</td>
                <td>–</td>
            </tr>
            <tr>
                <td><span class="btn">14:00</span></td>
                <td><a href="/booking/{{ teacher.id }}/mo/14" class="btn btn-sm btn-secondary">14:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/tu/14" class="btn btn-sm btn-success">14:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/we/14" class="btn btn-sm btn-success">14:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/th/14" class="btn btn-sm btn-success">14:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/fr/14" class="btn btn-sm btn-secondary">14:00</a></td>
                <td>–</td>
                <td>–</td>
            </tr>
            <tr>
                <td><span class="btn">16:00</span></td>
                <td><a href="/booking/{{ teacher.id }}/mo/16" class="btn btn-sm btn-secondary">16:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/tu/16" class="btn btn-sm btn-success">16:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/we/16" class="btn btn-sm btn-success">16:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/th/16" class="btn btn-sm btn-success">16:00</a></td>
                <td><a href="/booking/{{ teacher.id }}/fr/16" class="btn btn-sm btn-secondary">16:00</a></td>
                <td>–</td>
                <td>–</td>
            </tr>

        </table>
    </div>



</div>

{% endblock %}