{% extends 'base.html' %}
{% block container %}
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">TINYSTEPS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for link in links %}
                <li class="nav-item {% if request.path == link.link %}active{% endif %}">
                    <a class="nav-link" href="{{ link.link }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <span class="navbar-text">
        ☺️
    </span>
</nav>


<div class="card my-5  mx-auto ">

    <div class="card-body m-4">
        <div class="row">
            <div class="col-5"><img src="/static/pict {{ id }}.png" class="img-fluid">
            </div>
            <div class="col-7">
                <h2>{{ teacher.name }}</h2>
                <p>
                    {%- for goal in goals -%}
                        <span class="badge badge-secondary mr-2">{{ goal }}</span>
                    {%- endfor -%}
                    Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час
                </p>

                <p >{{ teacher.about }}</p>
                <br> <br>
                <a href="/message/{{ teacher.id }}" class="btn btn-outline-secondary btn-sm ">Отправить сообщение</a>
            </div>
        </div>
    </div>

    <div class="card-body  m-4">
        <h5 class="mb-4">Записаться на пробный урок</h5>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
            </tr>
            {% for time in times %}
                <tr>
                    <td><span class="btn">{{ times[time] }}</span></td>
                        {% for day in days %}
                            <td><a href="/booking/{{ id }}/{{ day }}/{{ time }}" class="btn btn-sm {% if free[day][times[time]]  %}btn-success{% else %}btn-secondary{% endif %}">{{ times[time] }}</a></td>
                        {% endfor %}
                    <td>–</td>
                    <td>–</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}